VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=fm-stock-y-venta.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fm-stock-y-venta
VITE_FIREBASE_STORAGE_BUCKET=fm-stock-y-venta.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=334694189931
VITE_FIREBASE_APP_ID=1:334694189931:web:6f75a7f73e2eacd3675a2e
